@file:Suppress("UnstableApiUsage")

plugins {
    id("android-app-convention")
    id("android-plugin-app-convention")
    id("build-metadata")
    id("data-descriptor")
}

android {
    namespace = "{{package_name}}"

    defaultConfig {
        applicationId = "{{package_name}}"
    }

    buildTypes {
        release {
            resValue("string", "app_name", "@string/app_name_release")
        }
        debug {
            resValue("string", "app_name", "@string/app_name_debug")
        }
    }
}

configure<DataDescriptorPluginExtension> {
    excludes.set(listOf("README.md"))
}

dependencies {
    implementation(libs.plugin.base)
    implementation(libs.common)
}
