<resources>
    <string name="app_name_debug">{{app_name_debug}}</string>
    <string name="app_name_release">{{app_name_release}}</string>
    <string name="description">{{plugin_description}}</string>
</resources>
