<plugin>
    <apiVersion>{{plugin_api_version}}</apiVersion>
    {{#has_domain}}
    <domain>{{plugin_domain}}</domain>
    {{/has_domain}}
    <description>@string/description</description>
</plugin>
