pluginManagement {
    repositories {
        maven ("https://android-fcitx5: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@maven.pkg.github.com/fcitx5-android/fcitx5-android")
        google()
        mavenCentral()
        gradlePluginPortal()
    }
}
dependencyResolutionManagement {
    repositoriesMode.set(RepositoriesMode.FAIL_ON_PROJECT_REPOS)
    repositories {
        maven ("https://android-fcitx5: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@maven.pkg.github.com/fcitx5-android/fcitx5-android")
        google()
        mavenCentral()
    }
    versionCatalogs {
        create("libs") {
            // For AndroidAppConventionPlugin
            plugin("aboutlibraries", "com.mikepenz.aboutlibraries.plugin").version("{{aboutlibraries_version}}")
            library(
                "android.desugarJDKLibs",
                "com.android.tools",
                "desugar_jdk_libs"
            ).version("{{desugarJDKLibs_version}}")

            version("main", "{{main_version}}")

            fun pluginA(id: String) = plugin(id, id).versionRef("main")
            pluginA("android-app-convention")
            pluginA("android-lib-convention")
            pluginA("android-plugin-app-convention")
            pluginA("build-metadata")
            pluginA("cmake-dir")
            pluginA("data-descriptor")
            pluginA("fcitx-component")
            pluginA("fcitx-headers")
            pluginA("native-app-convention")
            pluginA("native-lib-convention")
            version("android","{{android_version}}")
            plugin("android.app","com.android.application").versionRef("android")
            plugin("android.library","com.android.library").versionRef("android")
            plugin("kotlin","org.jetbrains.kotlin.android").version("{{kotlin_version}}")

            library("plugin_base","org.fcitx.fcitx5.android.lib","plugin_base").versionRef("main")
            library("common","org.fcitx.fcitx5.android.lib","common").versionRef("main")
        }
    }
}
rootProject.name = "{{project_name}}"
include(":app")
